@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Raleway", sans-serif;
  background-color: rgba(200, 200, 200, 1);
}
header {
  position: sticky;
  width: 100%;
  margin: auto auto 60px auto;
}
h1 {
  margin-top: 1.6rem;
  font-weight: 800;
  font-size: 2.25rem;
}

h4 {
  margin: auto;
  font-size: 1.2rem;
  font-weight: 300;
}
h5 {
  margin: auto auto 10px auto;
  font-size: 1.1rem;
  font-weight: 300;
}
small {
  font-size: 0.5em;
  font-weight: 400;
}
input {
  min-width: 175px;
  max-width: 300px;
  height: 40px;
  border-radius: 4px;
}
button {
  height: 40px;
  border-radius: 4px;
}
button.locate {
  background-color: rgb(235, 110, 75);
}
i.fa-umbrella {
  font-size: 1.25rem;
}
.curr-temp {
  font-size: 2.8rem;
  font-weight: 700;
  margin: auto auto 0px auto;
}

.curr-cond {
  font-size: 1.5rem;
  font-weight: 500;
}

.curr-detail {
  margin: 1rem auto;
}
.date {
  display: inline-block;
  font-weight: 600;
  font-size: 1.25rem;
  font-weight: 800;
}

.card {
  margin: 0.5rem auto;
  padding: 0;
}
.card-body {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center;
}
i.fa-thermometer-half {
  font-size: 1.25rem;
  padding-right: 0.5rem;
}

.weather-app-wrapper {
  max-width: 85%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px 20px;
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0.2);
}
.inactive {
  color: black;
  text-decoration: none;
}
.inactive:hover {
  cursor: initial;
}
div.card:hover {
  background-color: antiquewhite;
}
